/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {
background: #EDEDED;
  color: $secondaryColor;
}
header {
  display: flex;
  align-items: center;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    display: block;
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
    color: black;
    font-family: 'Orbitron', sans-serif;
  }
}

// begin body

#navWrapper {
  background-color: #1F4B86;
}

nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    li {
      flex: 1;
    }
  }
  li.active {
    background-color: #4a4a4b;
  }
  a {
    display: block;
    padding: 0.75rem;
    color: white;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: orange;
      text-decoration: underline;
      text-decoration-style: wavy;
    }
  }
}

.hero {
  img {
    width: 100%;
    height: auto;  
  }
}

video {
  width: 90%;
  margin-left: 5%
}

details {
  margin: .5rem $gutter;
  summary {
    background-color: beige;
  }
}
// begin the footer

#footerWrapper {
  background: #1F4B86;
  color: white;
}
footer {
    padding: 0.5rem $gutter;
    p{
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
    }
}